.add-product {
  margin-bottom: 5rem;

  .card {
    width: 100%;
    max-width: 1000px;
    padding: 1rem;

    .heading {
      width: 40vw;
      height: 6vh;
      margin: 20px 0px 50px 0px;
      border-radius: 0px 15px 15px 0px;
      background-color: #0a1930;
      span {
        font-size: 30px;
        font-weight: 600;
        margin-left: 10px;
        color: rgb(243, 239, 239);
        padding: 3px;
      }
    }
  }

  form {
    label {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      color: var(--color-dark);
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="email"],
    input[type="date"],
    input[type="address"],
    select,
    input[type="password"] {
      display: block;
      font-size: 2 rem;
      font-weight: 300;
      padding: 1rem;
      margin: 1rem auto;
      width: 100%;
      border: 2px solid #313b5c;
      border-radius: 3px;
      outline: none;
    }

    .btn {
      background-color: #19396a;
      color: white;
    }
  }
}

.group {
  border: 1px solid var(--dark-blue);
  padding: 5px;
}

.image-preview {
  width: 100%;
  height: 100%;
  max-height: 280px;
  background: var(--dark-blue);
  padding: 1rem;
  border-radius: 3px;
  overflow: hidden;
  // display: none;
  transition: all 0.3s;
}

.image-preview img {
  width: 100%;
}

.image-show {
  display: block;
}
