.product-summary {
  width: 100%;
  .info-summary {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  border: 1px solid #ccc;
  // border-bottom: 3px solid var(--light-blue);
  padding: 5px;
  background-color: #f5f6fa;
}

.card1 {
  background-color: #6979f5;
}
.card2 {
  background-color: #4feadb;
}
.card3 {
  background-color: #f379b6;
}
.card4 {
  background-color: #2d515b;
}
